<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  

  <meta property="og:title" content="frontend">
  <meta property="og:description" content="this is default frontend for my progect">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="/">

  <meta name="twitter:card" content="summary_large_image">
  
  <meta property="twitter:title" content="frontend">
  <meta property="twitter:description" content="this is default frontend for my progect">
  <meta property="twitter:image:src" content="/">

  <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico">
  <title>frontend</title>
  <script>
    window.config = {
        appName: 'Body_Parts',
        locale: 'ru',
        locales: {
            'ru': 'Русский',
            'en': 'English',
        }
    }
  </script>
</head>

<body>
  <noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
