<template>
    <h3>This contacts page</h3>
</template>

<script>

export default {
    name: 'Contats',
    wraper: 'default',
    components: {  },
    props: {
        
        },
    computed: {
        
    },
    data: () => ({
    
    }),
    methods: {
        
    },
    beforeCreated() {
        
    },
    created() {
        
    },
    mounted() {
        
    },
    beforedestroy() {
        
    },
}
</script>

<style>

</style>