<template>
    <div>
        <v-alert
            dense
            border="left"
            :type="status ? 'success' : 'error'"
            class="mt-0"
        >
            <v-row>
                <v-col>
                    {{this.status ? 'Connecteed' : 'Not Connected'}} to Web Socket
                </v-col>
                <v-col class="shrink">
                    <v-btn small @click="status ? disconnect() : reconnect()" >{{status ? 'disconnect' : 'reconnect'}}</v-btn>
                </v-col>
            </v-row>
        </v-alert>
        <v-row>
            <v-col ref="divA">
                <Chart  v-if="klines > 2" :width="!thredStatus"/>
            </v-col>
            <v-col cols="2" v-if="!thredStatus">
                <v-list v-if="settings" flat>
                        <v-subheader>Select a time frame</v-subheader>
                        <!-- <v-list-item-group> -->
                            <v-list-item>
                                <v-list-item-content>
                                    <v-radio-group v-model="timeFrame" column dense>
                                        <v-radio v-for="index, set in settings.time_frame" :key="index" :label="`Time ${set}`" :value="set">

                                        </v-radio>
                                    </v-radio-group>
                                </v-list-item-content>
                            </v-list-item>
                        <!-- </v-list-item-group> -->
                </v-list>
                <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    :return-value.sync="dates"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                            v-model="dateRangeText"
                            label="Select time range"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                        ></v-text-field>
                    </template>
                    <v-date-picker v-model="dates" range no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.menu.save(dates)">OK</v-btn>
                    </v-date-picker>
                </v-menu>
                <v-divider></v-divider>
                <v-btn
                    rounded
                    color="success"
                    :disabled="thredStatus"
                    class="mt-2 mx-2"
                    @click="Start"
                >Start</v-btn>
                <v-btn
                    rounded
                    color="error"
                    :disabled="!thredStatus"
                    class="mt-2 mx-2"
                    @click="Stop"
                >Stop</v-btn>
            </v-col>
            <v-speed-dial
                v-model="fab"
                bottom
                right
                fixed
                direction="top"
                transition
                >
                <template v-slot:activator>
                    <v-btn
                        v-show="thredStatus"
                        color="pink"
                        dark
                        
                        
                        bottom
                        right
                        fab
                    >
                        <v-icon v-if="fab">mdi-close</v-icon>
                        <v-icon v-else>mdi-cog</v-icon>
                    </v-btn>
                </template>
                <v-btn
                    fab
                    dark
                    small
                    color="green"
                >
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                    fab
                    dark
                    small
                    color="red"
                    @click="Stop"
                >
                    <v-icon>mdi-stop</v-icon>
                </v-btn>
            </v-speed-dial>
        </v-row>
        <v-row justify="start">
            <v-col cols="12">
                <v-tabs
                    v-model="tab"
                    background-color="deep-purple accent-4"
                    class="elevation-2"
                    dark
                    prev-icon="mdi-arrow-left-bold-box-outline"
                    next-icon="mdi-arrow-right-bold-box-outline"
                >
                    <v-tabs-slider></v-tabs-slider>
                    <v-tab
                        :key="1"
                        :href="`#tab-1`"
                    >
                        Positions
                    </v-tab>
                    <v-tab
                        :key="2"
                        :href="`#tab-2`"
                    >
                        Order history
                    </v-tab>
                    <v-tab-item
                        key="1"
                        value="tab-1"
                    >
                        <v-card
                            flat
                            tile
                        >
                            <v-card-text >
                                <v-data-table
                                    :headers="positionHeaders"
                                    :items="positionItems"
                                    :items-per-page="2"
                                    class="elevation-1"
                                    dense
                                    disable-pagination
                                    v-if="positionItems"
                                >
                                    <template v-slot:item.unrealizedProfit="{ item }" >
                                        <v-chip :color="getColor(item.unrealizedProfit)" dark>{{ item.unrealizedProfit }}</v-chip>
                                    </template>
                                </v-data-table>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item
                        key="2"
                        value="tab-2"
                    >
                        <v-card
                            flat
                            tile
                        >
                            <v-card-text class="text--primary">
                                <div v-for="order in orders_history" :key="order.timestamp">
                                    {{ new Date(order.timestamp).toISOString() }} - {{order.positionSide}} - {{order.side}} - {{order.quantity}} - {{order.curPrice}} - {{order.profit}}
                                </div>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import Charts from '~/components/charts'
import {mapGetters} from 'vuex'
export default {
    name: 'TradingBot',
    wraper: 'default',
    components: { 'Chart': Charts },
    props: {
        
        },
    computed: {
        ...mapGetters({
            status: 'TS/status',
            alert: 'TS/alert',
            klines: 'bot/klinesCount',
            orders_history: 'bot/orders',
            positionItems: 'bot/posInf'
        }),
        dateRangeText () {
            return this.dates.join(' ~ ')
        },
        dateToTimestamp () {
            return [new Date(this.dates[0]).getTime(), new Date(this.dates[1]).getTime()]
        },
        chartWidth(){
            var a =  this.$refs.divA.clientWidth
            // console.log(a)
            return a
        }
    },
    data: () => ({
        connection: null,
        settings: null,
        timeFrame: null,
        dates: [new Date().toISOString().substr(0, 10), new Date().toISOString().substr(0, 10)],
        menu: false,
        modal: false,
        thredStatus: true,
        clientWidth: null,
        tab: null,
        positionHeaders: [
          {
            text: 'Amount',
            align: 'start',
            sortable: false,
            value: 'amount',
          },
          { text: 'Entry Price', value: 'entryPrice' },
          { text: 'Licvidation Price', value: 'licvidation' },
          { text: 'Unrealized Profit', value: 'unrealizedProfit' },
        ]
    }),
    methods: {
        reconnect(){
            this.connection = new WebSocket('ws:' + '10.1.1.36/ws/test/' );
            this.connection.onopen = () => {
                this.$store.dispatch('TS/connect', this.connection)
                
                this.connection.onmessage = ({data}) => {
                    var nan = data.replace(new RegExp("NaN",'g'), '0')
                    var dt = JSON.parse(nan)
                    if (dt.event_type == 'settings'){
                        this.settings = dt.data
                    }
                    if (dt.event_type == 'data'){
                        console.log(dt)
                        this.$store.dispatch('bot/addData', dt.data)
                    }
                    if (dt.event_type == 'startKlines'){
                        
                        this.$store.dispatch('bot/startKlines', dt.data)
                    }
                    if (dt.event_type == 'order'){
                        
                        this.$store.dispatch('bot/order', dt.data)
                    }
                    if (dt.event_type == 'status'){
                        this.thredStatus = dt.data
                    }
                    if (dt.event_type == 'echo'){
                        console.log(dt.data)
                    }
                    else{
                        
                        this.lastMessage = data.message
                    }
                } 
                this.connection.onclose = () => {
                    this.$store.dispatch('TS/disconnect')
                }
            }
        },
        disconnect(){
            if (this.connection){
                this.connection.close()
                this.$store.dispatch('TS/disconnect')
            }
        },
        Start() {
            this.$store.dispatch('bot/clearData')
            this.connection.send(
                JSON.stringify({
                    'event_type': 'start',
                    'data': {
                        'timeFrame': this.timeFrame,
                        'dates': this.dateToTimestamp
                    }
                })
            )
        },
        Stop() {
            this.connection.send(
                JSON.stringify({
                    'event_type': 'stop',
                    'data': ''
                })
            )
        },
        getStatus(){
            if (this.connection && this.connection.readyState === 1)
            {    this.connection.send(
                    JSON.stringify({
                        'event_type': 'status',
                        'data': ''
                    })
                )}
        },
        getColor(profit){
            return profit > 0 ? 'green' : 'red'
        }
    },
    beforeCreated() {
        
    },
    created() {
        
    },
    mounted() {
        this.$store.dispatch('bot/getData')
        .then((isOK) => {
            if(isOK){
                this.reconnect()
            }
        })
        .catch(err => {
            console.log(err)
            // this.reconnect()
        })
        
        
        setInterval(this.getStatus, 2000)
    },
    beforeDestroy() {
        this.disconnect()
    },
}
</script>

<style>

</style>