<template>
<div>
    
    <v-list-item>
        <v-list-item-content>
            <v-list-item-title><p>this is App Settings!</p></v-list-item-title>
        </v-list-item-content>
    </v-list-item>
    <v-divider></v-divider>
    <v-list-item>
        <v-list-item-content>
            <v-list-item-title left>Wraper</v-list-item-title>
            <v-container id="dropdown-wrapers">
                <v-overflow-btn
                    class="my-2"
                    :items="wraper_items"
                    label="Select Wraper"
                    target="#dropdow-wrapers"
                    item-value="name"
                    v-model="selctedWraper"
                ></v-overflow-btn>
            </v-container>
        </v-list-item-content>
    </v-list-item>
    <v-divider></v-divider>
    <v-container>
        <v-switch v-model="dark" label="Dark" @change="changeTheme"></v-switch>
    </v-container>
</div>
</template>

<script>

  
export default {
    name: 'AppSettings',
    components: {  },
    props: {
        
        },
    computed: {
        
    },
    data: () => ({
        wraper_items: ['Default', 'Complex'],
        selctedWraper: null,
        dark: true
    }),
    methods: {
        changeTheme(){
            
        }
    },
    beforeCreated() {
        
    },
    created() {
        
    },
    mounted() {
        
    },
    beforedestroy() {
        
    },
}
</script>

<style>

</style>