<template>
    <p>this is Profile Settings</p>
</template>

<script>

export default {
    name: 'ProfileSettings',
    components: {  },
    props: {
        
        },
    computed: {
        
    },
    data () {
    
    },
    methods: {
        
    },
    beforeCreated() {
        
    },
    created() {
        
    },
    mounted() {
        
    },
    beforedestroy() {
        
    },
}
</script>

<style>

</style>