<template>
    <v-app-bar
        app
        color="indigo"
        dark
      >
        <v-app-bar-nav-icon @click.stop="leftDrawer"></v-app-bar-nav-icon>
        <v-toolbar-title>Application</v-toolbar-title>
        <template v-if="$router.app.wraper.name=='ComplexWraper'">
            <v-spacer></v-spacer>
            <v-app-bar-nav-icon @click.stop="rightDrawer"></v-app-bar-nav-icon>
        </template>
      </v-app-bar>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    name: 'app_bar',
    computed: {
        ...mapGetters([
            'wrapers/navigation'
        ])
    },
    data: () => ({
        // drawer: null,
    }),
    methods: {
        leftDrawer () {
           this.$store.dispatch('wrapers/leftDrawer')
        },
        rightDrawer() {
            this.$store.dispatch('wrapers/rightDrawer')
        }
    }
}
</script>