<template>
    <trading-vue 
        :data="this.chart" 
        :width="width ? 1400 : 1850" 
        :height="800"
        title-txt="BTCUSD"
        :chart-config=" { DEFAULT_LEN: 150 } "
        :toolbar="true"
        :overlays="overlays"
        ref="tradingVue"></trading-vue>
</template>

<script>
import TradingVue from 'trading-vue-js'
import TestOverlay from './overlay.vue'
import { DataCube } from 'trading-vue-js'
import * as types from '~/store/mutation-types'
export default {
    name: 'Charts',
    components: { TradingVue },
    props: { width: Boolean },
    computed: {
    },
    data() {
        return {
            chart: new DataCube(this.$store.getters[types.STORE[this.$router.history.current.name] + '/dataCarts'], {auto_scroll:true, ww_ram_limit: 150}),
            overlays:  [TestOverlay]
        }
    },
    mounted: function () {
        this.$store.subscribe((mutation) => {
            switch (mutation.type) {
                case types.STORE[this.$router.history.current.name] + '/ADD_DATA':
                    this.$refs.tradingVue.goto(mutation.payload.klines[mutation.payload.klines.length-1].openTime + 1000*60*30*10)
                    break;
                case types.STORE[this.$router.history.current.name] + '/START_KLINES':
                    this.$refs.tradingVue.goto(mutation.payload.klines[mutation.payload.klines.length-1].openTime + 1000*60*30*10)
                    break;
            }
        })
    }
}

</script>