<template>
    <v-navigation-drawer
        v-model="navigation.drawer"
        app
        temporary
        absolute
        class="on-top"
      >
        <v-list dense>
          <v-list-item link to="/">
                <v-list-item-action>
                <v-icon>mdi-home</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                <v-list-item-title>Home</v-list-item-title>
                </v-list-item-content>
          </v-list-item>
          <v-list-item link to="about">
                <v-list-item-action>
                <v-icon>mdi-email</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                <v-list-item-title>About</v-list-item-title>
                </v-list-item-content>
          </v-list-item>
          <v-list-item link to="contacts">
                <v-list-item-action>
                <v-icon>mdi-email</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                <v-list-item-title>Contacts</v-list-item-title>
                </v-list-item-content>
          </v-list-item>
          <v-list-item link @click.stop="$store.dispatch('wrapers/leftTMPDrawer', 'app_settings'); $emit('content', 'app_settings')">
                <v-list-item-action>
                <v-icon>mdi-cog</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                <v-list-item-title>Open Settings</v-list-item-title>
                </v-list-item-content>
          </v-list-item>
          <v-list-item link to="testing_server">
                <v-list-item-action>
                <v-icon>mdi-cog</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                <v-list-item-title>Test Server</v-list-item-title>
                </v-list-item-content>
          </v-list-item>
          <v-list-item link to="trading_bot">
                <v-list-item-action>
                <v-icon>mdi-cog</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                <v-list-item-title>Trading Bot</v-list-item-title>
                </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    name: 'Navigation_drawer',
    props: {
        
    },
    computed: {
        ...mapGetters({
            navigation: 'wrapers/navigation'
        })
    }
}
</script>

<style>
      .v-navigation-drawer--temporary{
            z-index: 9999 !important;
      }
</style>