<template>
    <v-navigation-drawer
        v-model="navigation.drawerRight"
        app
        right
      >
        <v-list dense>
          <v-list-item @click.stop="$store.dispatch('wrapers/leftTMPDrawer')">
            <v-list-item-action>
              <v-icon>mdi-exit-to-app</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Open Temporary Drawer</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    name: 'NavigationDrawerRight',
    computed: {
        ...mapGetters({
            navigation: 'wrapers/navigation'
        })
    }
}
</script>