<template>
    <v-navigation-drawer
        v-model="navigation.left"
        fixed
        temporary
        
      >
      <slot>
          123
      </slot>
    </v-navigation-drawer>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'TmpDrawer',
    computed: {
        ...mapGetters({
            navigation: 'wrapers/navigation'
        })
    }
}
</script>