<template>
  <v-app id="inspire">
      <NavigationDrawerRight />
  
      <app-bar />
  
      <navigation-drawer @content="function(content) {cont = content}"/>
  
      <Tmp-drawer>
        <component :is="dynamic"></component>
      </Tmp-drawer>
  
      <v-main>
        <v-container
          class="fill-height"
          fluid
        >
                    <Child />
        </v-container>
      </v-main>
  
      <Footer-down />
    </v-app>
</template>

<script>
import {mapGetters} from 'vuex'
import Child from '~/components/Child'
import Navigation_drawer from '../components/navigation_drawer.vue'
import app_bar from '~/components/app_bar'
import footer_down from '~/components/footer'
import NavigationDrawerRight from '~/components/navigation_drawer_right'
import TmpDrawer from '~/components/tmp_drawer.vue'
const requireContext = require.context('~/components/tmpDrawer_content', false, /.*\.vue$/)
const content = requireContext.keys()
  .map(file =>
    [file.replace(/(^.\/)|(\.vue$)/g, ''), requireContext(file)]
  )
  .reduce((components, [name, component]) => {
    components[name] = component.default || component
    return components
  }, {})
export default {
  name: 'ComplexWraper',
  components: {'navigation-drawer': Navigation_drawer, 'app-bar': app_bar, 'Child': Child, 'Footer-down': footer_down, 'NavigationDrawerRight': NavigationDrawerRight, 'Tmp-drawer': TmpDrawer,  },
  computed: {
    ...mapGetters({
      navigation: 'wrapers/navigation'
    }),
    dynamic(){
      return content[this.cont]
    }
  },
  props: {
    source: String,
  },

  data: () => ({
    cont: ''
  }),
  created () {
    this.$vuetify.theme.dark = true
  },
}
</script>