<template>
  <v-app id="inspire">
      <navigation-drawer @content="function(content) {cont = content}"/>
      <Tmp-drawer>
           <component :is="dynamic"></component>
      </Tmp-drawer>
      <app-bar/>
  
      <v-main>
        <v-container
          fluid
        >
          <v-row align="start">
            <v-col cols="12">
                    <Child/>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
      <Footer-down/>
    </v-app>
</template>

<script>
// import header from '~/components/header/header'
import Child from '~/components/Child'
import Navigation_drawer from '../components/navigation_drawer.vue'
import app_bar from '~/components/app_bar'
import footer_down from '~/components/footer'
import TmpDrawer from '~/components/tmp_drawer'
const requireContext = require.context('~/components/tmpDrawer_content', false, /.*\.vue$/)
const content = requireContext.keys()
  .map(file =>
    [file.replace(/(^.\/)|(\.vue$)/g, ''), requireContext(file)]
  )
  .reduce((components, [name, component]) => {
    components[name] = component.default || component
    return components
  }, {})
export default {
  name: 'MainWraper',
  components: { 'navigation-drawer': Navigation_drawer, 'app-bar': app_bar, 'Child': Child, 'Footer-down': footer_down, 'Tmp-drawer': TmpDrawer, },
  props: {
    source: String
    
  },
  computed: {
    dynamic(){
        return content[this.cont]
    }
  },
  data: () => ({
      cont: ''
  }),
  created () {
    this.$vuetify.theme.dark = false
  },
}
</script>