<template>
  <div id="app">
    <!-- <loading ref="loading"/> -->
    <component v-if="wraper" :is="wraper"/>
  </div>
</template>

<script>
// import Loading from '~components/Loading'
const requireContext = require.context('~/wrapers', false, /.*\.vue$/)
const wrapers = requireContext.keys()
  .map(file =>
    [file.replace(/(^.\/)|(\.vue$)/g, ''), requireContext(file)]
  )
  .reduce((components, [name, component]) => {
    components[name] = component.default || component
    return components
  }, {})
export default {
  components: {
    // Loading
  },
  computed: {
    
  },
  data: () => ({
    wraper: null,
    defaultWraper: 'default'
  }),
  metaInfo () {
    const { appName } = window.config
    return {
      title: appName,
      titleTemplate: `%s · ${appName}`
    }
  },
  created: function () {
         //alert('create?')
        //  console.log(process.env)
  },
  mounted () {
    // alert('mount?')
    this.$loading = this.$refs.loading
    if(this.$store.getters['auth/token']){
      this.$store.dispatch('auth/fetchUser')
    }
     this.$store.dispatch('accaunt/get_balance')
  },
  methods: {
    /**
     * Set the application layout.
     *
     * @param {String} wraper
     */
    setWraper (wraper) {
      
      if (!wraper || !wrapers[wraper]) {
        wraper = this.defaultwraper
      }
      this.wraper = wrapers[wraper]
      // console.log(this.wraper)
    }
  },
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
