<template>
    <div class="row">
        <div class="col-lg-8 m-auto">
            <card :title="$t('register')">
                <form @submit.prevent="register" @keydown="form.onKeydown($event)">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-rigth">
                            {{ $t('user_login') }}
                        </label>
                        <div class="col-md-7">
                            <input v-model="form.login" :class="{ 'is-invalid': form.errors.has('login') }" class="form-control" type="text" name="login">
                            <has-error :form="form" field="login"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-rigth">
                            {{ $t('last_name') }}
                        </label>
                        <div class="col-md-7">
                            <input v-model="form.last_name" :class="{ 'is-invalid': form.errors.has('last_name') }" class="form-control" type="text" name="last_name">
                            <has-error :form="form" field="last_name"/>
                        </div>
                    </div>

                   <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-rigth">
                            {{ $t('first_name') }}
                        </label>
                        <div class="col-md-7">
                            <input v-model="form.first_name" :class="{ 'is-invalid': form.errors.has('first_name') }" class="form-control" type="text" name="first_name">
                            <has-error :form="form" field="first_name"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-rigth">
                            {{ $t('password') }}
                        </label>
                        <div class="col-md-7">
                            <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
                            <has-error :form="form" field="password"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-rigth">
                            {{ $t('confirm_password') }}
                        </label>
                        <div class="col-md-7">
                            <input v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" class="form-control" type="password" name="password_confirmation">
                            <has-error :form="form" field="password_confirmation"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-7 offset-md-3 d-flex">
                            <v-button :loading="form.busy">
                                {{ $t('register') }}
                            </v-button>
                        </div>
                    </div>
                </form>
            </card>
        </div>
    </div>
</template>

<script>
import Form from 'vform'

export default {
    middleware: 'guest',
    components: {},
    mataInfo() {
        return {title: this.$t('register')}
    },

    data: ()=> ({
        form: new Form({
            login: '',
            last_name: '',
            first_name: '',
            password: '',
            password_confirmation: ''
        })
    }),

    methods: {
        async register() {
            await this.form.post('api/auth/register')

            const form = new Form({
                'username': this.form.login,
                'password': this.form.password
            })
            try {
                const { data: {token} } = await form.post('api/auth/login')
                this.$store.dispatch('auth/saveToken', { token, remember: true})
                await this.$store.dispatch('auth/fetchUser')
                this.$router.push({ name: 'home' })
            } catch(e){
                this.$router.push({ name: 'login' })
            }
        }
    }
}
</script>